{
  "openapi": "3.0.3",
  "info": {
    "title": "Kelvin API",
    "version": "4.0.0",
    "termsOfService": "https://kelvininc.com",
    "contact": {
      "name": "Kelvin Support",
      "url": "https://kelvininc.com",
      "email": "support@kelvininc.com"
    },
    "license": {
      "name": "Kelvin License",
      "url": "https://kelvininc.com"
    }
  },
  "servers": [
    {
      "url": "https://alpha.kelvininc.com/api/v4",
      "description": "Kelvin Platform - alpha"
    },
    {
      "url": "https://beta.kelvininc.com/api/v4",
      "description": "Kelvin Platform - beta"
    },
    {
      "url": "https://bpx.kelvin.ai/api/v4",
      "description": "Kelvin Platform - bpx"
    },
    {
      "url": "https://cenovus.kelvin.ai/api/v4",
      "description": "Kelvin Platform - cenovus"
    },
    {
      "url": "https://clr.kelvin.ai/api/v4",
      "description": "Kelvin Platform - clr"
    },
    {
      "url": "https://duarte.kelvin.ai/api/v4",
      "description": "Kelvin Platform - duarte"
    },
    {
      "url": "https://hal-cementing.kelvin.ai/api/v4",
      "description": "Kelvin Platform - hal-cementing"
    },
    {
      "url": "https://hal-cementing-dev.kelvin.ai/api/v4",
      "description": "Kelvin Platform - hal-cementing-dev"
    },
    {
      "url": "https://hal-cementing-staging.kelvin.ai/api/v4",
      "description": "Kelvin Platform - hal-cementing-staging"
    },
    {
      "url": "https://halliburton-sandbox.kelvin.ai/api/v4",
      "description": "Kelvin Platform - hal-sandbox"
    },
    {
      "url": "https://halliburton-int-dev.kelvin.ai/api/v4",
      "description": "Kelvin Platform - hall-int-dev"
    },
    {
      "url": "https://halliburton-int-prod.kelvin.ai/api/v4",
      "description": "Kelvin Platform - hall-int-prod"
    },
    {
      "url": "https://halliburton-dev1.kelvininc.com/api/v4",
      "description": "Kelvin Platform - halliburton-dev1"
    },
    {
      "url": "https://halliburton-prod1.kelvininc.com/api/v4",
      "description": "Kelvin Platform - halliburton-prod1"
    },
    {
      "url": "https://ironoak.kelvin.ai/api/v4",
      "description": "Kelvin Platform - ironoak"
    },
    {
      "url": "https://ironoak-staging.kelvin.ai/api/v4",
      "description": "Kelvin Platform - ironoak-staging"
    },
    {
      "url": "https://propwr.kelvin.ai/api/v4",
      "description": "Kelvin Platform - propwr"
    },
    {
      "url": "https://qmai.kelvin.ai/api/v4",
      "description": "Kelvin Platform - qmai"
    },
    {
      "url": "https://sales.kelvin.ai/api/v4",
      "description": "Kelvin Platform - sales"
    },
    {
      "url": "https://kelvin-cooper.santos.com/api/v4",
      "description": "Kelvin Platform - santos-cooper"
    },
    {
      "url": "https://kelvin-csg.santos.com/api/v4",
      "description": "Kelvin Platform - santos-csg"
    },
    {
      "url": "https://santos-dev.kelvin.ai/api/v4",
      "description": "Kelvin Platform - santos-dev"
    },
    {
      "url": "https://santos-dev2.kelvin.ai/api/v4",
      "description": "Kelvin Platform - santos-dev2"
    },
    {
      "url": "https://santos-staging.kelvin.ai/api/v4",
      "description": "Kelvin Platform - santos-staging"
    },
    {
      "url": "https://validus.kelvin.ai/api/v4",
      "description": "Kelvin Platform - validus"
    },
    {
      "url": "https://westside.kelvin.ai/api/v4",
      "description": "Kelvin Platform - westside"
    },
    {
      "url": "https://westside-staging.kelvin.ai/api/v4",
      "description": "Kelvin Platform - westside-staging"
    }
  ],
  "paths": {
    "/apps/create": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Create App Version",
        "description": "Create App Version\n\n**Permission Required:** `kelvin.permission.app.create`\n",
        "operationId": "createAppVersion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.AppVersionCreate"
              },
              "examples": {
                "ac": {
                  "$ref": "#/components/examples/AC"
                },
                "sigcon": {
                  "$ref": "#/components/examples/Sigcon"
                },
                "opcua": {
                  "$ref": "#/components/examples/OPCUA"
                },
                "influxdb": {
                  "$ref": "#/components/examples/InfluxDB"
                },
                "s3": {
                  "$ref": "#/components/examples/S3"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppVersionCreate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/{app_name}/v/{app_version}/get": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get App Version",
        "description": "Get App Version\n\n**Permission Required:** `kelvin.permission.app.read`\n",
        "operationId": "getAppVersion",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppVersionGet"
                },
                "examples": {
                  "all-fields": {
                    "$ref": "#/components/examples/responses.AppVersionGet.SmartApp"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/{app_name}/v/{app_version}/patch": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Update App Version",
        "description": "Update App Version\n\nPartially update the default settings and schemas for an App Version. The\nfollowing keys can be updated individually. If a key is not specified, its\nexisting value will remain unchanged. If a key is specified, it will\ncompletely overwrite the current value for that key and its nested fields.\n\n- `defaults.deployment.max_resources`\n- `defaults.deployment.deployment_type`\n- `defaults.deployment.target`\n- `defaults.app.configuration`\n- `defaults.app.io_datastream_mapping`\n- `defaults.api_permissions`\n- `defaults.system`\n- `schemas.parameters`\n- `schemas.configuration`\n- `schemas.io_configuration`\n\n**Permission Required:** `kelvin.permission.app.update`\n",
        "operationId": "patchAppVersion",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.AppVersionPatch"
              },
              "examples": {
                "all-fields": {
                  "$ref": "#/components/examples/requests.AppVersionPatch.AllFields"
                },
                "system": {
                  "$ref": "#/components/examples/requests.AppVersionPatch.System"
                },
                "clear-configuration-empty": {
                  "$ref": "#/components/examples/requests.AppVersionPatch.ClearConfigurationEmpty"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppVersionPatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/{app_name}/v/{app_version}/update": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Update App Version",
        "description": "Update App Version\n\nUpdate the default settings and schemas for an App Version.\n\n**Permission Required:** `kelvin.permission.app.update`\n",
        "operationId": "updateAppVersion",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.AppVersionUpdate"
              },
              "examples": {
                "all-fields": {
                  "$ref": "#/components/examples/requests.AppVersionPatch.AllFields"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppVersionUpdate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/{app_name}/v/{app_version}/delete": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Delete App Version",
        "description": "Delete App Version\n\n**Permission Required:** `kelvin.permission.app.delete`\n",
        "operationId": "deleteAppVersion",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/{app_name}/v/{app_version}/deploy": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Deploy App Version",
        "description": "Deploy App Version\n\nIssues the deployment of workloads based on the specified instructions.\n\nThe `deployment` section defines the strategy to deploy the application to\nresources (i.e. assets) by creating the necessary workloads based on the\nmaximum number of resources each instance can handle, as well as the target\ncluster where the workloads will be deployed.\n\nEach resource (i.e. asset) is defined in the `runtime` section, which\nincludes defining its parameters and data stream mappings.\n\nThe `parameters` section is optional. If provided, it will update all\nparameters for that resource with the provided values, otherwise, the\ncurrent ones will be injected into the new workloads. If `parameters` is\nset and a parameter is not defined, the current value will be deleted,\neffectively setting it to the default value. This behaviour means that\nsetting `parameters` to an empty object (`{}`) will reset all parameters of\nthat resource to their default values.\n\n**Permission Required:** `kelvin.permission.app.deploy`\n",
        "operationId": "deployAppVersion",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.AppVersionDeploy"
              },
              "examples": {
                "smart-app": {
                  "$ref": "#/components/examples/requests.AppVersionDeploy.SmartApp"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppVersionDeploy"
                },
                "examples": {
                  "all-fields": {
                    "$ref": "#/components/examples/responses.AppVersionDeploy.AllFields"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/{app_name}/resources/enable": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Enable App Resources",
        "description": "Enable App Resources\n\n**Permission Required:** `kelvin.permission.app.update`\n",
        "operationId": "enableAppResources",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.AppResourcesEnable"
              },
              "examples": {
                "all-fields": {
                  "$ref": "#/components/examples/requests.AppResourcesEnable.AllFields"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/{app_name}/resources/disable": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Disable App Resources",
        "description": "Disable App Resources\n\n**Permission Required:** `kelvin.permission.app.update`\n",
        "operationId": "disableAppResources",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.AppResourcesDisable"
              },
              "examples": {
                "all-fields": {
                  "$ref": "#/components/examples/requests.AppResourcesDisable.AllFields"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/{app_name}/resources/delete": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Delete App Resources",
        "description": "Delete App Resources\n\n**Permission Required:** `kelvin.permission.app.update`\n",
        "operationId": "deleteAppResources",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.AppResourcesDelete"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/{app_name}/resources/list": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "List App Resources",
        "description": "List App Resources\n\n**Permission Required:** `kelvin.permission.app.read`\n",
        "operationId": "listAppResources",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "resources",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "app_versions",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "workload_names",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "enabled",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "array",
              "default": [
                "resource"
              ],
              "description": "Sort the results by one or more enumerators.",
              "items": {
                "type": "string",
                "enum": [
                  "resource",
                  "app_name",
                  "enabled",
                  "created_at",
                  "created_by",
                  "updated_at",
                  "updated_by"
                ]
              }
            }
          },
          {
            "$ref": "#/components/parameters/paginator.paginationType"
          },
          {
            "$ref": "#/components/parameters/paginator.pageSize"
          },
          {
            "$ref": "#/components/parameters/paginator.page"
          },
          {
            "$ref": "#/components/parameters/paginator.next"
          },
          {
            "$ref": "#/components/parameters/paginator.previous"
          },
          {
            "$ref": "#/components/parameters/paginator.direction"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json-cursor": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppResourcesListPaginatedResponseCursor"
                },
                "examples": {
                  "running": {
                    "$ref": "#/components/examples/responses.AppResourcesList.Running"
                  },
                  "requires-attention": {
                    "$ref": "#/components/examples/responses.AppResourcesList.RequiresAttention"
                  }
                }
              },
              "application/x-json-limits": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppResourcesListPaginatedResponseLimits"
                }
              },
              "application/x-json-stream": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppResourcesListPaginatedResponseStream"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/{app_name}/get": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get App",
        "description": "Get details of an Application\n\n**Permission Required:** `kelvin.permission.app.read`\n",
        "operationId": "getApp",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppGet"
                },
                "examples": {
                  "smart-app": {
                    "$ref": "#/components/examples/responses.AppGet.SmartApp"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/list": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "List Apps",
        "description": "Returns a list of Applications based on the provided filters and sort\noptions.\n\n**Permission Required:** `kelvin.permission.app.read`\n",
        "operationId": "listApps",
        "parameters": [
          {
            "name": "app_names",
            "in": "query",
            "style": "form",
            "description": "Filter the results by the provided application names.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "app_types",
            "description": "Application type.",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/enum.AppType"
              }
            }
          },
          {
            "name": "resources",
            "in": "query",
            "description": "Filter based on Resource (KRN format) associated with the App. Supported KRNs: `asset`.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "krn"
              }
            }
          },
          {
            "name": "search",
            "description": "Search the name or title of the application for the provided string.",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "array",
              "default": [
                "name"
              ],
              "description": "Sort the results by the selected field.",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "title",
                  "type",
                  "latest_version",
                  "created_at",
                  "created_by",
                  "updated_at",
                  "updated_by"
                ]
              }
            }
          },
          {
            "$ref": "#/components/parameters/paginator.paginationType"
          },
          {
            "$ref": "#/components/parameters/paginator.pageSize"
          },
          {
            "$ref": "#/components/parameters/paginator.page"
          },
          {
            "$ref": "#/components/parameters/paginator.next"
          },
          {
            "$ref": "#/components/parameters/paginator.previous"
          },
          {
            "$ref": "#/components/parameters/paginator.direction"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json-cursor": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppsListPaginatedResponseCursor"
                }
              },
              "application/x-json-limits": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppsListPaginatedResponseLimits"
                }
              },
              "application/x-json-stream": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppsListPaginatedResponseStream"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/{app_name}/patch": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Update App",
        "description": "Update details of an Application. Any parameters that are not provided will\nremain unchanged.\n\n**Permission Required:** `kelvin.permission.app.update`\n",
        "operationId": "patchApp",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.AppPatch"
              },
              "examples": {
                "all-fields": {
                  "$ref": "#/components/examples/requests.AppPatch.AllFields"
                },
                "title": {
                  "$ref": "#/components/examples/requests.AppPatch.Title"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppPatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/{app_name}/delete": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Delete App",
        "description": "Delete App\n\n**Permission Required:** `kelvin.permission.app.delete`\n",
        "operationId": "deleteApp",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/context/list": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "List Apps Contexts",
        "description": "List Apps Contexts\n\n**Permission Required:** `kelvin.permission.app.read`\n",
        "operationId": "listAppsContext",
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "array",
              "default": [
                "resource"
              ],
              "description": "Sort the results by the selected field.",
              "items": {
                "type": "string",
                "enum": [
                  "resource",
                  "source"
                ]
              }
            }
          },
          {
            "$ref": "#/components/parameters/paginator.paginationType"
          },
          {
            "$ref": "#/components/parameters/paginator.pageSize"
          },
          {
            "$ref": "#/components/parameters/paginator.page"
          },
          {
            "$ref": "#/components/parameters/paginator.next"
          },
          {
            "$ref": "#/components/parameters/paginator.previous"
          },
          {
            "$ref": "#/components/parameters/paginator.direction"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.AppsContextList"
              },
              "examples": {
                "ad": {
                  "$ref": "#/components/examples/requests.AppsContextList.AssetDataStreams"
                },
                "custom-actions": {
                  "$ref": "#/components/examples/requests.AppsContextList.AssetDataStreams"
                },
                "all-fields": {
                  "$ref": "#/components/examples/requests.AppsContextList.AllFields"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json-cursor": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppsContextListPaginatedResponseCursor"
                }
              },
              "application/x-json-limits": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppsContextListPaginatedResponseLimits"
                }
              },
              "application/x-json-stream": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppsContextListPaginatedResponseStream"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          }
        }
      }
    },
    "/apps/parameters/values/list": {
      "post": {
        "tags": [
          "App Parameters"
        ],
        "summary": "List App Version Parameter Values",
        "description": "List App Version Parameter Values\n\n**Permission Required:** `kelvin.permission.parameter.read`\n",
        "operationId": "listAppVersionParameterValues",
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort the results by one or more enumerators.",
            "style": "form",
            "schema": {
              "type": "array",
              "default": [
                "name"
              ],
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "app_name",
                  "app_version",
                  "resource",
                  "comment",
                  "created_at",
                  "created_by",
                  "updated_at",
                  "updated_by"
                ]
              }
            }
          },
          {
            "$ref": "#/components/parameters/paginator.paginationType"
          },
          {
            "$ref": "#/components/parameters/paginator.pageSize"
          },
          {
            "$ref": "#/components/parameters/paginator.page"
          },
          {
            "$ref": "#/components/parameters/paginator.next"
          },
          {
            "$ref": "#/components/parameters/paginator.previous"
          },
          {
            "$ref": "#/components/parameters/paginator.direction"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.AppVersionParameterValuesList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json-cursor": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppVersionParameterValuesListPaginatedResponseCursor"
                }
              },
              "application/x-json-limits": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppVersionParameterValuesListPaginatedResponseLimits"
                }
              },
              "application/x-json-stream": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppVersionParameterValuesListPaginatedResponseStream"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/parameters/history/list": {
      "post": {
        "tags": [
          "App Parameters"
        ],
        "summary": "List App Version Parameters History",
        "description": "List App Version Parameters History\n\n**Permission Required:** `kelvin.permission.parameter.read`\n",
        "operationId": "listAppVersionParametersHistory",
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort the results by one or more enumerators.",
            "style": "form",
            "schema": {
              "type": "array",
              "default": [
                "name"
              ],
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "app_name",
                  "app_version",
                  "resource",
                  "comment",
                  "created_at",
                  "created_by",
                  "invalidated_at",
                  "invalidated_by"
                ]
              }
            }
          },
          {
            "$ref": "#/components/parameters/paginator.paginationType"
          },
          {
            "$ref": "#/components/parameters/paginator.pageSize"
          },
          {
            "$ref": "#/components/parameters/paginator.page"
          },
          {
            "$ref": "#/components/parameters/paginator.next"
          },
          {
            "$ref": "#/components/parameters/paginator.previous"
          },
          {
            "$ref": "#/components/parameters/paginator.direction"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.AppVersionParametersHistoryList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json-cursor": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppVersionParametersHistoryListPaginatedResponseCursor"
                }
              },
              "application/x-json-limits": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppVersionParametersHistoryListPaginatedResponseLimits"
                }
              },
              "application/x-json-stream": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppVersionParametersHistoryListPaginatedResponseStream"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/parameters/list": {
      "post": {
        "tags": [
          "App Parameters"
        ],
        "summary": "List App Parameters",
        "description": "List App Parameters\n\n**Permission Required:** `kelvin.permission.parameter.read`\n",
        "operationId": "listAppParameters",
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort the results by one or more enumerators.",
            "style": "form",
            "schema": {
              "type": "array",
              "default": [
                "name"
              ],
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "title",
                  "app_name",
                  "data_type",
                  "created_at",
                  "created_by",
                  "updated_at",
                  "updated_by"
                ]
              }
            }
          },
          {
            "$ref": "#/components/parameters/paginator.paginationType"
          },
          {
            "$ref": "#/components/parameters/paginator.pageSize"
          },
          {
            "$ref": "#/components/parameters/paginator.page"
          },
          {
            "$ref": "#/components/parameters/paginator.next"
          },
          {
            "$ref": "#/components/parameters/paginator.previous"
          },
          {
            "$ref": "#/components/parameters/paginator.direction"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.AppParametersList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json-cursor": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppParametersListPaginatedResponseCursor"
                }
              },
              "application/x-json-limits": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppParametersListPaginatedResponseLimits"
                }
              },
              "application/x-json-stream": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppParametersListPaginatedResponseStream"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/{app_name}/v/{app_version}/parameters/values/update": {
      "post": {
        "tags": [
          "App Parameters"
        ],
        "summary": "Update App Version Parameters",
        "description": "Update App Version Parameters\n\n**Permission Required:** `kelvin.permission.parameter.update`\n",
        "operationId": "updateAppVersionParameters",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patch",
            "in": "query",
            "description": "If set to `true`, it only updates the parameters that are explicitly defined in the request.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.AppVersionParametersUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/{app_name}/v/{app_version}/parameters/defaults/update": {
      "post": {
        "tags": [
          "App Parameters"
        ],
        "summary": "Update App Version Parameters Defaults",
        "description": "Update App Version Parameters Defaults\n\n**Permission Required:** `kelvin.permission.app.update`\n",
        "operationId": "updateAppVersionParametersDefaults",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patch",
            "in": "query",
            "description": "If set to `true`, it only updates the parameters that are explicitly defined in the request.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.AppVersionParametersDefaultsUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/parameters/unique-values/get": {
      "post": {
        "tags": [
          "App Parameters"
        ],
        "summary": "Get App Version Parameters Unique Values",
        "description": "Get App Version Parameters Unique Values\n\n**Permission Required:** `kelvin.permission.parameter.read`\n",
        "operationId": "getAppVersionParametersUniqueValues",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.AppVersionParametersUniqueValuesGet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppVersionParametersUniqueValuesGet"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/{app_name}/v/{app_version}/parameters/fallback-values/get": {
      "post": {
        "tags": [
          "App Parameters"
        ],
        "summary": "Get App Version Parameters Fallback Values",
        "description": "Get App Version Parameters Fallback Values\n\n**Permission Required:** `kelvin.permission.parameter.read`\n",
        "operationId": "getAppVersionParametersFallbackValues",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.AppVersionParametersFallbackValuesGet"
              },
              "examples": {
                "all-fields": {
                  "$ref": "#/components/examples/requests.AppVersionParametersFallbackValuesGet"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AppVersionParametersFallbackValuesGet"
                },
                "examples": {
                  "all-fields": {
                    "$ref": "#/components/examples/responses.AppVersionParametersFallbackValuesGet"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/parameters/schedules/create": {
      "post": {
        "tags": [
          "App Parameters"
        ],
        "summary": "Create Parameters Schedule",
        "description": "Create a new schedule to apply parameters to an application.\n\nSchedules are sets of application parameter values that are applied to a\ngroup of assets at a given time.\n\nOptionally, those values can be reverted to the desired value. When doing\nso, parameter values are defined for each asset individually, and the\nassets and parameters must match the original schedule. For example, if 2\nparameters were changed for 2 assets and a revert operation is requested,\nthen the revert parameters must have 2 assets and 2 parameters for each\nasset.\n\nThe schedule must be created in the future and, if a revert operation is\nrequested, the revert date must be after the scheduled date.\n\nUpon creation, the current values of the parameters are stored in the\n`original_resource_parameters` field.\n\n\n**Permission Required:** `kelvin.permission.parameter.update`\n",
        "operationId": "createParametersSchedule",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.ParametersScheduleCreate"
              },
              "examples": {
                "complex": {
                  "$ref": "#/components/examples/request.ParametersScheduleCreate.Complex"
                },
                "revert": {
                  "$ref": "#/components/examples/request.ParametersScheduleCreate.Revert"
                },
                "simple": {
                  "$ref": "#/components/examples/request.ParametersScheduleCreate.Simple"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Schedule created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ParametersScheduleCreate"
                },
                "examples": {
                  "complex": {
                    "$ref": "#/components/examples/response.ParametersScheduleCreate.Simple"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/responses-error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/error.Conflict"
          }
        }
      }
    },
    "/apps/parameters/schedules/{schedule_id}/get": {
      "get": {
        "tags": [
          "App Parameters"
        ],
        "summary": "Get Parameters Schedule",
        "description": "Get a specific schedule.\n\n**Permission Required:** `kelvin.permission.parameter.read`\n",
        "operationId": "getParametersSchedule",
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "description": "The parameter schedule key `id` to be retrieved.",
            "required": true,
            "example": "123e4567-e89b-12d3-a456-426655440000",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ParametersScheduleGet"
                },
                "examples": {
                  "complex": {
                    "$ref": "#/components/examples/response.ParametersScheduleGet.AC"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/parameters/schedules/{schedule_id}/delete": {
      "post": {
        "tags": [
          "App Parameters"
        ],
        "summary": "Delete Parameters Schedule",
        "description": "Delete a specific schedule.\n\n**Permission Required:** `kelvin.permission.parameter.update`\n",
        "operationId": "deleteParametersSchedule",
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "description": "The parameter schedule key `id` to be delete.",
            "required": true,
            "example": "123e4567-e89b-12d3-a456-426655440000",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/parameters/schedules/{schedule_id}/apply": {
      "post": {
        "tags": [
          "App Parameters"
        ],
        "summary": "Apply Parameters Schedule",
        "description": "Apply the scheduled or reverted parameters of a specific schedule.\n\nThere are 2 types of the \"apply\" action:\n\n- `schedule`: Applies the scheduled parameters if the schedule is in the\n`scheduled` state.\n- `schedule-revert`: Applies the revert parameters if the schedule is in the\n`scheduled-revert` state.\n\nIf the schedule is not in the supported state for the selected type, the\nAPI will return an error.\n\nErrors encountered when calling this API will not affect the schedule\nstate.\n\n**Permission Required:** `kelvin.permission.parameter.update`\n",
        "operationId": "applyParametersSchedule",
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "description": "The parameter schedule key `id` to be applied immediately.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.ParametersScheduleApply"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/parameters/schedules/list": {
      "post": {
        "tags": [
          "App Parameters"
        ],
        "summary": "List Parameters Schedule",
        "description": "Returns a list of Parameter Schedules and its parameters. The Parameter Schedules can be optionally filtered and sorted on the server before being returned.\n\n**Permission Required:** `kelvin.permission.parameter.read`\n",
        "operationId": "listParametersSchedule",
        "parameters": [
          {
            "$ref": "#/components/parameters/paginator.paginationType"
          },
          {
            "$ref": "#/components/parameters/paginator.pageSize"
          },
          {
            "$ref": "#/components/parameters/paginator.page"
          },
          {
            "$ref": "#/components/parameters/paginator.next"
          },
          {
            "$ref": "#/components/parameters/paginator.previous"
          },
          {
            "$ref": "#/components/parameters/paginator.direction"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort the results by one or more enumerators.",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "default": "id",
                "enum": [
                  "id",
                  "app_name",
                  "app_version",
                  "scheduled_for",
                  "revert.scheduled_for",
                  "comment",
                  "state",
                  "created_at",
                  "created_by",
                  "applied_at",
                  "applied_by",
                  "reverted_at",
                  "reverted_by"
                ]
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.ParametersScheduleList"
              },
              "examples": {
                "all": {
                  "$ref": "#/components/examples/request.ParametersScheduleList.All"
                },
                "app-manager-ui": {
                  "$ref": "#/components/examples/request.ParametersScheduleList.AppManagerUI"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json-cursor": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ParametersScheduleListPaginatedResponseCursor"
                }
              },
              "application/x-json-limits": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ParametersScheduleListPaginatedResponseLimits"
                }
              },
              "application/x-json-stream": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ParametersScheduleListPaginatedResponseStream"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          }
        }
      }
    },
    "/apps/workloads/create": {
      "post": {
        "tags": [
          "App Workloads"
        ],
        "summary": "Create Workload",
        "description": "Create Workload\n\n**Permission Required:** `kelvin.permission.workload.create`\n",
        "operationId": "createWorkload",
        "parameters": [
          {
            "name": "stopped",
            "in": "query",
            "description": "If set to `true`, the workload created will be deployed in a stopped state.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.WorkloadCreate"
              },
              "examples": {
                "all-fields": {
                  "$ref": "#/components/examples/requests.WorkloadCreate.AllFields"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.WorkloadCreate"
                },
                "examples": {
                  "all-fields": {
                    "$ref": "#/components/examples/responses.WorkloadCreate.AllFields"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/workloads/{workload_name}/get": {
      "get": {
        "tags": [
          "App Workloads"
        ],
        "summary": "Get Workload",
        "description": "Retrieve the parameters of a Workload.\n\n**Permission Required:** `kelvin.permission.workload.read`\n",
        "operationId": "getWorkload",
        "parameters": [
          {
            "name": "workload_name",
            "in": "path",
            "description": "Unique identifier `name` of the Workload.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.WorkloadGet"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/workloads/{workload_name}/patch": {
      "post": {
        "tags": [
          "App Workloads"
        ],
        "summary": "Update Workload",
        "description": "Update Workload\n\nUpdate the modifiable components of a Workload. The following keys can be\nupdated individually. If a key is not specified, its existing value will\nremain unchanged. If a key is specified, it will completely overwrite the\ncurrent value for that key and its nested fields.\n\n- `title`\n- `app_version`\n- `cluster_name`\n- `node_name`\n- `deployment_type`\n- `runtime.resources`\n- `runtime.configuration`\n- `system`\n- `api_permissions`\n\n**Permission Required:** `kelvin.permission.workload.update`\n",
        "operationId": "updateWorkload",
        "parameters": [
          {
            "name": "workload_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.WorkloadUpdate"
              },
              "examples": {
                "all-fields": {
                  "$ref": "#/components/examples/requests.WorkloadUpdate.AllFields"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.WorkloadUpdate"
                },
                "examples": {
                  "all-fields": {
                    "$ref": "#/components/examples/responses.WorkloadUpdate.AllFields"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/workloads/{workload_name}/download": {
      "get": {
        "tags": [
          "App Workloads"
        ],
        "summary": "Download Workload Package File",
        "description": "Download the Workload package file for offline installation on the Edge\nSystem. The system automatically generates the file for download if the\npackage is not already available.\n\n**Permission Required:** `kelvin.permission.workload.read`",
        "operationId": "downloadWorkload",
        "parameters": [
          {
            "name": "workload_name",
            "in": "path",
            "description": "Unique identifier `name` of the Workload.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "description": "If true, the endpoint will return a direct URL to the workload package file.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns workload package file to download or a direct URL address. If\nthe package is not available, it will be automatically created before\ndownload.\n\n**`Note:`** The URL address is valid for a small period of time. If the\ndownload is not started within the time limit, a new URL address needs\nto be requested.\n",
            "content": {
              "application/zip": {},
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.WorkloadDownload"
                }
              }
            }
          },
          "202": {
            "description": "Workload is waiting for the worker to pick it up, or it's already processing.",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          },
          "409": {
            "$ref": "#/components/responses/responses-error.Conflict"
          },
          "412": {
            "$ref": "#/components/responses/error.PreconditionFailed"
          }
        }
      }
    },
    "/apps/workloads/list": {
      "get": {
        "tags": [
          "App Workloads"
        ],
        "summary": "List Workloads",
        "description": "List Workloads\n\n**Permission Required:** `kelvin.permission.workload.read`\n",
        "operationId": "listWorkloads",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search and filter on the list based on the keys `name`, `title` (Display Name), `app_name` and `cluster_name`. All strings in the array are treated as _OR_. The search is case insensitive and will find partial matches as well.",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "app_names",
            "in": "query",
            "description": "A filter on the list based on the key `app_name`. The filter is on the full name only.",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "app_versions",
            "in": "query",
            "description": "A filter on the list based on the key `app_version`. The filter is on the full value only.",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "semver"
              }
            }
          },
          {
            "name": "app_types",
            "in": "query",
            "description": "Filter Workloads by their application types.",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/enum.AppType"
              }
            }
          },
          {
            "name": "cluster_names",
            "in": "query",
            "description": "A filter on the list based on the key `cluster_name`. The filter is on the full name only.",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "node_names",
            "in": "query",
            "description": "A filter on the list based on the key `node_name`. The filter is on the full name only.",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "workload_names",
            "in": "query",
            "description": "A filter on the list based on the key `name`. The filter is on the full name only.",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "resources",
            "in": "query",
            "description": "Filter based on Resource (KRN format) associated with the Workload. Supported KRNs: `asset`.",
            "schema": {
              "type": "string",
              "format": "krn"
            }
          },
          {
            "name": "staged",
            "in": "query",
            "description": "A filter on the key staged. Using true will only show staged workloads, false will show all workloads.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "schema": {
              "type": "array",
              "description": "A filter on the list based on the key `status.state`.",
              "items": {
                "$ref": "#/components/schemas/enum.WorkloadStatus"
              }
            }
          },
          {
            "name": "download_statuses",
            "in": "query",
            "schema": {
              "type": "array",
              "description": "A filter on the list based on the key `download_status`.",
              "items": {
                "$ref": "#/components/schemas/enum.WorkloadDownloadStatus"
              }
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "array",
              "default": [
                "name"
              ],
              "description": "Sort the results by one or more enumerators.",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "title",
                  "app_name",
                  "app_version",
                  "cluster_name",
                  "node_name",
                  "status_last_seen",
                  "status_state",
                  "created_at",
                  "created_by",
                  "updated_at",
                  "updated_by"
                ]
              }
            }
          },
          {
            "$ref": "#/components/parameters/paginator.paginationType"
          },
          {
            "$ref": "#/components/parameters/paginator.pageSize"
          },
          {
            "$ref": "#/components/parameters/paginator.page"
          },
          {
            "$ref": "#/components/parameters/paginator.next"
          },
          {
            "$ref": "#/components/parameters/paginator.previous"
          },
          {
            "$ref": "#/components/parameters/paginator.direction"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json-cursor": {
                "schema": {
                  "$ref": "#/components/schemas/responses.WorkloadsListPaginatedResponseCursor"
                }
              },
              "application/x-json-limits": {
                "schema": {
                  "$ref": "#/components/schemas/responses.WorkloadsListPaginatedResponseLimits"
                }
              },
              "application/x-json-stream": {
                "schema": {
                  "$ref": "#/components/schemas/responses.WorkloadsListPaginatedResponseStream"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          }
        }
      }
    },
    "/apps/workloads/apply": {
      "post": {
        "tags": [
          "App Workloads"
        ],
        "summary": "Apply Workloads",
        "description": "Initiate final deploy action for the downloaded Workloads. Only valid for Workloads that were previously deployed with the keys `staged` set to true and `instantly_apply` set to false.\n\n**Permission Required:** `kelvin.permission.workload.update`\n",
        "operationId": "applyWorkloads",
        "requestBody": {
          "description": "Workload apply schema",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.WorkloadsApply"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "207": {
            "$ref": "#/components/responses/error.Multi"
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/error.Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          },
          "500": {
            "$ref": "#/components/responses/error.InternalServerError"
          }
        }
      }
    },
    "/apps/workloads/start": {
      "post": {
        "tags": [
          "App Workloads"
        ],
        "summary": "Start Workloads",
        "description": "\n**Permission Required:** `kelvin.permission.workload.update`\n",
        "operationId": "startWorkloads",
        "requestBody": {
          "description": "Workloads to start",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.WorkloadsStart"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "207": {
            "$ref": "#/components/responses/error.Multi"
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/error.Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          },
          "500": {
            "$ref": "#/components/responses/error.InternalServerError"
          }
        }
      }
    },
    "/apps/workloads/stop": {
      "post": {
        "tags": [
          "App Workloads"
        ],
        "summary": "Stop Workloads",
        "description": "\n**Permission Required:** `kelvin.permission.workload.update`\n",
        "operationId": "stopWorkloads",
        "requestBody": {
          "description": "Workloads to stop",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.WorkloadsStop"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "207": {
            "$ref": "#/components/responses/error.Multi"
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/error.Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          },
          "500": {
            "$ref": "#/components/responses/error.InternalServerError"
          }
        }
      }
    },
    "/apps/workloads/delete": {
      "post": {
        "tags": [
          "App Workloads"
        ],
        "summary": "Delete Workloads",
        "description": "Delete Workload\n\n**Permission Required:** `kelvin.permission.workload.delete`\n",
        "operationId": "deleteWorkloads",
        "parameters": [
          {
            "name": "staged",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.WorkloadsDelete"
              },
              "examples": {
                "all-fields": {
                  "$ref": "#/components/examples/requests.WorkloadsDelete.AllFields"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "207": {
            "$ref": "#/components/responses/error.Multi"
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/error.Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          },
          "500": {
            "$ref": "#/components/responses/error.InternalServerError"
          }
        }
      }
    },
    "/apps/workloads/{workload_name}/logs/get": {
      "get": {
        "tags": [
          "App Workloads"
        ],
        "summary": "Get Workload Logs",
        "description": "Get Workload Logs\n\n**Permission Required:** `kelvin.permission.workload.read`",
        "operationId": "getWorkloadLogs",
        "parameters": [
          {
            "name": "workload_name",
            "in": "path",
            "description": "Unique identifier `name` of the Workload.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tail_lines",
            "in": "query",
            "description": "Specify the number of the most recent log lines to retrieve, counting backwards from the latest entry.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "since_time",
            "in": "query",
            "description": "UTC time of the starting point for log retrieval, formatted in RFC 3339.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.WorkloadLogsGet"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/error.Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          },
          "424": {
            "$ref": "#/components/responses/error.FailedDependency"
          },
          "500": {
            "$ref": "#/components/responses/error.InternalServerError"
          },
          "501": {
            "description": "The operation is not implemented.",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/apps/workloads/{workload_name}/resources/add": {
      "post": {
        "tags": [
          "App Workloads"
        ],
        "summary": "Add Workload Resources",
        "description": "Add WorkloadResources\n\n**Permission Required:** `kelvin.permission.workload.update`\n",
        "operationId": "addWorkloadResources",
        "parameters": [
          {
            "name": "workload_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.WorkloadResourcesAdd"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.WorkloadResourcesAdd"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          },
          "409": {
            "$ref": "#/components/responses/responses-error.Conflict"
          }
        }
      }
    },
    "/apps/workloads/{workload_name}/resources/remove": {
      "post": {
        "tags": [
          "App Workloads"
        ],
        "summary": "Remove Workload Resources",
        "description": "Remove WorkloadResources\n\n**Permission Required:** `kelvin.permission.workload.update`\n",
        "operationId": "removeWorkloadResources",
        "parameters": [
          {
            "name": "workload_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.WorkloadResourcesRemove"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/apps/workloads/bulk/update": {
      "post": {
        "tags": [
          "App Workloads"
        ],
        "summary": "Update Workloads Bulk",
        "description": "Update Workloads Bulk\n\n**Permission Required:** `kelvin.permission.workload.update`\n",
        "operationId": "updateWorkloadsBulk",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.WorkloadsBulkUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          }
        }
      }
    },
    "/asset-insights/get": {
      "post": {
        "tags": [
          "Asset Insights"
        ],
        "summary": "Get Assets Insights",
        "description": "Advanced Asset Insights collates Asset data and optional custom defined fields and returns a structured array of Asset related objects. Ideal for generating UI lists, it accommodates a range of search, filter, and optional data on Data Streams, Parameters, Control Changes, Recommendations, etc. related to the Asset.\n\n**Permission Required:** `kelvin.permission.asset_insights.read`\n",
        "operationId": "getAssetInsights",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of Asset objects to be returned.",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 10000
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Return the list of Asset objects on requested page using the `page_size` as a page calculation reference.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "requestBody": {
          "description": "Get Assets Insights schema",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.AssetInsightsGet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AssetInsightsGetPaginated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "424": {
            "$ref": "#/components/responses/error.FailedDependency"
          },
          "500": {
            "$ref": "#/components/responses/error.InternalServerError"
          }
        }
      }
    },
    "/assets/create": {
      "post": {
        "tags": [
          "Asset"
        ],
        "summary": "Create Asset",
        "description": "Create a new Asset.\n\n**Permission Required:** `kelvin.permission.asset.create`\n",
        "operationId": "createAsset",
        "requestBody": {
          "description": "Asset create schema",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.AssetCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AssetCreate"
                }
              }
            }
          },
          "207": {
            "$ref": "#/components/responses/error.Multi"
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/error.Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/responses-error.Conflict"
          },
          "500": {
            "$ref": "#/components/responses/error.InternalServerError"
          }
        }
      }
    },
    "/assets/bulk/create": {
      "post": {
        "tags": [
          "Asset"
        ],
        "summary": "Create Asset Bulk",
        "description": "Create new Assets.\n\n**Permission Required:** `kelvin.permission.asset.create`\n",
        "operationId": "createAssetBulk",
        "parameters": [
          {
            "name": "dry_run",
            "in": "query",
            "description": "Executes a simulated run when set to true, providing feedback without altering server data.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Asset bulk create schema",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.AssetBulkCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Assets created successfully",
            "content": {
              "application/json": {}
            }
          },
          "207": {
            "$ref": "#/components/responses/error.Multi"
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/error.Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/responses-error.Conflict"
          },
          "500": {
            "$ref": "#/components/responses/error.InternalServerError"
          }
        }
      }
    },
    "/assets/list": {
      "get": {
        "tags": [
          "Asset"
        ],
        "summary": "List Assets",
        "description": "Returns a list of Assets and its parameters. The Assets can be optionally filtered and sorted on the server before being returned.\n\n**Permission Required:** `kelvin.permission.asset.read`\n",
        "operationId": "listAssets",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search and filter on the list based on the keys `title` (Display Name) or `name`. All values in array will be filtered as `OR`. The search is case insensitive and will find partial matches as well.",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "names",
            "in": "query",
            "description": "A filter on the list based on the key `name`. The filter is on the full name only. The string can only contain lowercase alphanumeric characters and `.`, `_` or `-` characters.",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "^[a-z0-9]([-_.a-z0-9]*[a-z0-9])?$"
              }
            }
          },
          {
            "name": "asset_type_name",
            "in": "query",
            "description": "A filter on the list based on the key `asset_type_name`. The filter is on the full name only. The string can only contain lowercase alphanumeric characters and `.`, `_` or `-` characters.",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "^[a-z0-9]([-_.a-z0-9]*[a-z0-9])?$"
              }
            }
          },
          {
            "name": "status_state",
            "in": "query",
            "description": "A filter on the list based on the key ['status']['state']. Multiple statuses can be given and will be filtered as `OR`. The allowed values are: `online`, `offline`, `unknown`.",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/enum.AssetState"
              }
            }
          },
          {
            "$ref": "#/components/parameters/paginator.paginationType"
          },
          {
            "$ref": "#/components/parameters/paginator.pageSize"
          },
          {
            "$ref": "#/components/parameters/paginator.page"
          },
          {
            "$ref": "#/components/parameters/paginator.next"
          },
          {
            "$ref": "#/components/parameters/paginator.previous"
          },
          {
            "$ref": "#/components/parameters/paginator.direction"
          },
          {
            "name": "sort_by",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "array",
              "default": [
                "name"
              ],
              "description": "Sort the results by one or more enumerators.",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "title",
                  "created",
                  "updated",
                  "asset_type_name",
                  "asset_type_title",
                  "status_state",
                  "status_last_seen"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json-cursor": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AssetsListPaginatedResponseCursor"
                }
              },
              "application/x-json-limits": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AssetsListPaginatedResponseLimits"
                }
              },
              "application/x-json-stream": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AssetsListPaginatedResponseStream"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/error.Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/error.NotFound"
          },
          "500": {
            "$ref": "#/components/responses/error.InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Asset"
        ],
        "summary": "List Assets Advanced",
        "description": "Returns a list of Assets and its parameters. The Assets can be filtered and sorted on the server before being returned. Advanced filter options available for more granular return list.\n\n**Permission Required:** `kelvin.permission.asset.read`\n",
        "operationId": "listAssetsAdvanced",
        "parameters": [
          {
            "$ref": "#/components/parameters/paginator.paginationType"
          },
          {
            "$ref": "#/components/parameters/paginator.pageSize"
          },
          {
            "$ref": "#/components/parameters/paginator.page"
          },
          {
            "$ref": "#/components/parameters/paginator.next"
          },
          {
            "$ref": "#/components/parameters/paginator.previous"
          },
          {
            "$ref": "#/components/parameters/paginator.direction"
          },
          {
            "name": "sort_by",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "array",
              "default": [
                "name"
              ],
              "description": "Sort the results by one or more enumerators.",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "title",
                  "created",
                  "updated",
                  "asset_type_name",
                  "asset_type_title",
                  "status_state",
                  "status_last_seen"
                ]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Assets list schema",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.AssetsAdvancedList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json-cursor": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AssetsAdvancedListPaginatedResponseCursor"
                }
              },
              "application/x-json-limits": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AssetsAdvancedListPaginatedResponseLimits"
                }
              },
              "application/x-json-stream": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AssetsAdvancedListPaginatedResponseStream"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error.BadRequest"
          },
          "401": {
[...]
